.sizeLetterCard{
    font-size: 11px !important;
}
.sizeLetterCard1{
    font-size: 12px !important;
    padding-left: 15px;
}

.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

